*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Neucha', cursive;
}

.grid{
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: #061420;
}

.header__menu{
    display: flex;
}

.header__btn{
    min-width: 60px;
    background: transparent;
    border: none;
}

.header__list{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.header__item{
    display: inline-block;
    margin-right: 20px;
    
}

.header__item:not(:last-child)::after{
    content: '>';
    padding: 10px;
    color: #ffffff;
}

.header__link{
    text-decoration: none;
    color: #ffffff;
}

.header__info{
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.header__city{
    font-family: 'Neucha', cursive;
    font-size: 25px;
    color: #ffffff;
}

.header__btn--long{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.banner-wrapper{
    background: url('../img/1eb6c809cb91c5b70a5e5fe9fcd06573.jpg') no-repeat center / cover;
}

.breadcrums{
    display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
	align-items: center;
    align-content: stretch;
    color: #ffffff;
}

.breadcrums__cinema{
    padding-top: 103px;
    font-size: 22px;
}

.breadcrums__cher{
    padding-top: 33px;
    font-size: 100px;
}

.breadcrums__contacts{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    width: 100%;
    padding-top: 198px;
    padding-bottom: 98px;
}

.breadcrums__location{

}

.breadcrums__adres{
    font-size: 28px;
}

.breadcrums__location{
    font-size: 18px;
}

.breadcrums__col-center{

}

.breadcrums__tel{
    font-size: 28px;
}

.breadcrums__col{
    font-size: 18px;
}

/**/